.navigation{
	width: 30%;
	float: left;
	text-align: left;
	overflow: hidden;
}

.head{
	margin:0, 0, 0, 0;
	width: 100%;
	height: 200px;
	text-align: left;
	background: #111111;
	clear:both;
}

.content{
	width: 60%;
	float: left;
	overflow: hidden;
	padding-left: 5%;
	padding-right: 5%;
}
