@-webkit-keyframes pound {
	0%, 100% {transform:none;}
	50% {transform: scale(1.2);}
}
@-moz-keyframes pound {
	0%, 100% {transform:none;}
	50% {transform: scale(1.2);}
}
@-o-keyframes pound {
	0%, 100% {transform:none;}
	50% {transform: scale(1.2);}
}
@keyframes pound {
	0%, 100% {transform:none;}
	50% {transform: scale(1.2);}
}

body{
	width: 100%;
	height: 100%;
}

.heart {
	-webkit-animation: pound 1s linear infinite;
	    -moz-animation:pound 1s linear infinite;
	      -o-animation:pound 1s linear infinite;
	         animation:pound 1s linear infinite;
	width: 30vw;
	margin-top: 10vh;
	margin-left: 35vw;
	margin-right: 35vw;
}